
style.
  .topmenulist {
    list-style-type: none; 
    align-items:center;
    justify-content:space-around;
    margin:auto;

  }
  li{
    color: #D3D3D3;
  }
  .listelement{
    color:#D3D3D3;
    background-color:#2f2f2f;
    padding:20px;
    border: solid;
    border-color:#D3D3D3;
    float:left;

  }
  .topmenulist li:hover{ 
    background-color: #e85c16;
      }

header
  .pageHeading
    ul.topmenulist

      li.listelement.home

        a.headerLink( href = '/') Home

      li.listelement.schedule

        a.headerLink( href = '/schedule')  Schedule

      li.listelement.syllabus

        a.headerLink( href = '/syllabus' ) Syllabus

      li.listelement.study2

        a.headerLink( href = '/study' ) Study


