<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"></head><body><style>ul.topmenulist {
  list-style-type: none; 
  align-items:center;
  justify-content:space-around;
  margin:auto;

}
.listelement{
  color:white;
  background-color:#2f2f2f;
  padding:20px;
  border: solid;
  border-color:#D3D3D3;
  float:left;

}
.topmenulist li:hover{ 
  background-color: #e85c16;
    }
</style><header><nav><ul class="topmenulist"><li class="listelement active"><a href="/">Home</a></li><li class="listelement"><a href="/schedule"> Schedule</a></li><li class="listelement"><a href="/syllabus">Syllabus</a></li><li class="listelement"><a href="/study">Study</a></li></ul></nav></header><br></body><div class="bodyContent"></div></html>