extends layout

block content
    link(rel='stylesheet', href='/stylesheets/home.css')
    .pageStart WELCOME TO WEB DEVELOPMENT

    h2 Above you can see four tabs.  
        i  Click them if you dare!!!
    h3 What will this course be about?
    .ipsum.
       This course is all about the development of webpages. How to build the structure using HTML, how to style them with CSS, and how to give them function with JavaScript.
       You will also be given the tools to build web servers, learn how webpages are hosted, and how multiple pages are connected together with outside data.
    .secretLink 
        a(href="https://www.youtube.com/watch/dQw4w9WgXcQ/", target="_blank") Oh neat, a secret link!
    .biggerTwitterDiv
        .twitterDiv
            a.twitter-timeline(href="https://twitter.com/ohionorthern?ref_src=twsrc%5Etfw") Tweets by ONU <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>