<style>.topmenulist {
  list-style-type: none; 
  align-items:center;
  justify-content:space-around;
  margin:auto;

}
li{
  color: #D3D3D3;
}
.listelement{
  color:#D3D3D3;
  background-color:#2f2f2f;
  padding:20px;
  border: solid;
  border-color:#D3D3D3;
  float:left;

}
.topmenulist li:hover{ 
  background-color: #e85c16;
    }
</style><header><div class="pageHeading"><ul class="topmenulist"><li class="listelement home"><a class="headerLink" href="/">Home</a></li><li class="listelement schedule"><a class="headerLink" href="/schedule"> Schedule</a></li><li class="listelement syllabus"><a class="headerLink" href="/syllabus">Syllabus</a></li><li class="listelement study2"><a class="headerLink" href="/study">Study</a></li></ul></div></header>